{% extends "base.html" %}

{% block title %}
Admin Page
{% endblock %}

{% block content %}
<h1>Welcome to admin page </h1>


<a href="{{ url_for('api.create_product') }}">Create Product</a>
<br>
<a href="{{ url_for('api.get_product_by_id', product_id=1) }}"> Get Produt ByID</a>
<br>
<a href="{{ url_for('api.get_all_products') }}"> Get All Products</a>
<br>

<a href="{{ url_for('api.get_all_users') }}"> Get All Users</a>
<br>

<a href="{{ url_for('api.create_order') }}">Create Order</a>
<br>

<br>
<a href="{{ url_for('api.get_all_categories') }}"> Get all Category</a>
<br>
<a href="{{ url_for('api.create_category') }}"> Create Category</a>

{% endblock %}
