{% extends "base.html" %}

{% block title %}
    Create Product
{% endblock %}

{% block content %}
    <!-- Custom styles -->
    <style>
        /* Add custom styles specific to the create product form here */
        .product-container {
            max-width: 400px;
            margin: auto;
            padding: 30px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 50px;
        }
        .product-container h2 {
            text-align: center;
            margin-bottom: 30px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-control {
            height: 50px;
        }
        .btn-submit {
            width: 100%;
            padding: 10px 0;
            font-size: 1.2rem;
        }
    </style>

    <div class="product-container">
        <h2>Create Product</h2>
        <form action="{{ url_for('api.create_product') }}" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control", placeholder="Enter product name") }}
            </div>
            <div class="form-group">
                {{ form.price.label }}
                {{ form.price(class="form-control", placeholder="Enter product price") }}
            </div>
            <div class="form-group">
                {{ form.description.label }}
                {{ form.description(class="form-control", placeholder="Enter product description") }}
            </div>
            <div class="form-group">
                {{ form.category_id.label }}
                {{ form.category_id(class="form-control") }}
            </div>
            <!-- Additional fields for creating a new category -->
            <div class="form-group">
                {{ category_form.name.label }}
                {{ category_form.name(class="form-control", placeholder="Enter category name") }}
            </div>
            <div class="form-group">
                {{ category_form.description.label }}
                {{ category_form.description(class="form-control", placeholder="Enter category description") }}
            </div>
            <button type="submit" class="btn btn-primary btn-submit">Add Product</button>
        </form>
    </div>
{% endblock %}
