{% extends 'base.html' %}

{% block title %}
    View Cart
{% endblock %}

{% block content %}
<div class="container text-center">
    <h3>My Cart</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart.items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{% if item.price is not none %}KShs: {{ item.price }}{% endif %}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        {% if item.price is not none and item.quantity is not none %}
                            KShs: {{ item.price * item.quantity }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total Amount: KShs: {{ total_amount }}/=</h3>
</div>
<br>
<a href="{{ url_for('api.checkout_from_cart') }}" class="btn btn-primary">Checkout</a>

{% endblock %}
